@model List<string>


<link rel="stylesheet" href="/css/site.css">

<div class="container-artist">
    <h1 class="text-center mt-5">Artist Page</h1>
    <h2>Artists</h2>

    <table class="table-artist">
        <thead>
            <tr>
                <th scope="col">Profile Picture</th>
                <th scope="col">User Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var username in Model)
            {
                <tr>
                    <td>
                        <div class="artist-profile-container">
                            <img src="/testImages/F0qeN45acAAGEJ3.jpg" alt="@username" />
                        </div>
                    </td>
                    <td>
                        <p>@username</p>
                    </td>
                    <td>
                        This person is lazy, they haven't put a bio yet.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>