@{
    ViewData["Title"] = "Artist Page";
}



<style>
    body {
        background-color: #14141b;
    }
</style>


<div class="home-main">
    <div class="home-gallery">
        <a class="nav-link" asp-area="" asp-controller="Artist" asp-action=""><h2 class="header-1">Artist Page</h2></a>
    </div>

        <div class="container-home-main-gallery">
            <div class="container-home-image">
            <img src="https://www.billboard.com/wp-content/uploads/2023/10/Jennie-Kim-cannes-2023-a-billboard-1548.jpg?w=942&h=623&crop=1" alt="picture" />

            </div>

        </div>
    <h1>@ViewData["Title"]</h1>

    <p>Email</p>
    <p>lloydmartin.tano.cics@edu.ph</p>

    <p>Phone</p>
    <p>+63 0163773265</p>
