
<div class="myprofile-container">

    <div class="username-holder">
        <h1> ArtistWhoCries</h1>

    </div>
    <div class="dp-container-holder-artist">
        <img src="/testImages/F0qeN45acAAGEJ3.jpg" alt="ArtistWhoCries" />

    </div>

    <div class="userdescription-container">
        <p>Bio</p>
        <div class="user-bio-holder">
            <div id="textContainer">
                <div class="textRow" contenteditable="false">
                    An Beginner Artist.
                    Commission open
                </div>
            </div>
        </div>
    </div>

    <div class="user-art-container">
        <h1>Artworks</h1>
        <table>
            <tr>
                <td><img src="/testImages/FzjZ7U3WcAE4ELC.jpg" alt="Image 1"></td>
                <td><img src="/testImages/FzyUtv6aMAArEG6.jpg"></td>
                <td><img src="/testImages/Fz8Psd_akAA2h-_.jpg"></td>
            </tr>
            <tr>
                <td><img src="/testImages/FukWrH1akAAEKfm.jpg" alt="Image 1"></td>
                <td><img src="/testImages/Fuzmn5QaQAARmDL.jpg"></td>
                <td><img src="/testImages/FuoaH9PaUAA0Ls7.jpg"></td>
            </tr>
        </table>
    </div>

</div>

