* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand&display=swap');

/* Main body styling */
.artworks-body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #14141b;
    color: white;
}

    /* Grid styling */
    .artworks-body .grid-display-container {
        position: relative;
    }

    .artworks-body .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 10px;
        padding-left: 8rem;
        padding-right: 8rem;
        animation: appear 1s;
    }

    .artworks-body .image-container {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        padding-bottom: 100%;
    }

        .artworks-body .image-container img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

    .artworks-body .image-info {
        position: relative;
        color: white;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 14px;
    }

    /* Page navigation styling */
    .artworks-body .page-navigation {
        display: flex;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 8rem;
        color: white;
        text-decoration: none;
    }

        .artworks-body .page-navigation span,
        .artworks-body .page-navigation a {
            display: flex;
            justify-content: center;
            font-size: 20px;
            padding-top: 5rem;
            margin: 0 5px;
            border: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            align-items: center;
            transition-duration: 0.3s;
        }

            .artworks-body .page-navigation a:hover,
            .artworks-body .page-navigation a.active {
                color: #A7A7AA;
                border-radius: 5px;
                align-items: center;
                transition-timing-function: ease-in-out;
            }
