html {
    font-size: 14px;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: auto;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    margin: 0;
    padding: 0;
    
}

header {
    position: relative;
    max-width:100%;
}

footer{
    text-align:center;
}

.container {
    background-color: #14141b;
}

.topnav-right {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.topnav-left {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#navbarColor02 {

    position: center;
}

#navLink-right {
    position: absolute;
    right: 2rem;
}

#navLink-space {
    padding-left: 5rem;
}

.d-flex {
    min-width: 50rem;
}

/* Home - Index CSS */

/*  Main Div    */

.home-main {
    padding-top: 2.5rem;
    margin-left: 0;
}

.home-gallery {
    margin-bottom: 1.8rem;
}

.header-1 {
    left: 1rem;
}

.container-gallery-parent {
    display: flex;
}

.container-home-main-gallery3, .container-home-image2, .container-home-image1 {
    margin: 0.6rem;
    width: 310px;
    height: 250px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .container-home-image3 img, .container-home-image2 img, .container-home-image1 img {
        width: 310px;
        height: 245px;
    }

.container-home-main-gallery {
    margin: 0.6rem;
    width: 234px;
    height: 250px;
    border: 3px solid black;
}

.container-home-image img {
    width: 229px;
    height: 245px;
}

.home-gallery-1 {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}

.home-gallery-side-div {
    display: flex;
}

.home-gallery-left {
    width: 40.5rem;
    padding: 1.5rem;
    margin: 0rem;
}

.home-gallery-right {
    width: 40.5rem;
    padding: 1.5rem;
    margin: 0rem;
    margin-left: 100px;
}

.home-gallery-3 {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}


/*Artwork */

.container-artwork-vertical {
    display: flex;
    margin-top: 3rem;
    margin-left: -6rem;
}

.container-artwork-main-gallery {
    margin: 0.25rem;
    width: 18.8rem;
    height: auto;
}

.container-artwork img {
    width: 100%;
    margin-bottom: 60px;
}

.slider-container {
    max-width: 1000px;
    margin: 50px auto;
}

.slider-item {
    text-align: center;
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the item */
}

    .slider-item img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .tns-outer button, .tns-nav, .tns-controls{
        display: none;
    }

    .container-artist td{
        padding-right: 14rem;
    }

.container-artist {
    padding-left:8rem;
    padding-bottom: 2rem;
}


    .artist-profile-container img{
        width:8rem;
       height:8rem;

    }

.artist-profile-container {
    width: 1rem;
    padding-top: 1rem;
}

#my-profile-uploadProfile{
    text-align:center;
    padding-left: 8rem;
}

.button-container {
    text-align: center;
    padding-top:2rem;
   
}

.myprofile-container{
    padding-top: 2rem;
}

.dp-container-holder img{
    width: 8rem;
    height: 10rem;
    
}
.dp-container-holder {
    text-align:center;
    padding: 1.5rem;
    
}

.userdescription-container{
    text-align:center;
    padding-top:2rem;
    border: 3px; white;
}
#textContainer {
    border: 1px;
    border-color:antiquewhite;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.textRow {
    height: 20px;
    border-color: white;
    border-bottom: 1px;
    padding: 2px 5px;
    box-sizing: border-box;
}
.username-holder{
    padding-left:5rem;
}

.user-art-container{
    padding-left:3rem;
    padding-bottom: 3rem;
    padding-right:3rem;
}
.user-art-container img{
    width: 24.6rem;
    height: 22.6rem;
    padding-left:2rem;
    padding-top:2rem;
}

.dp-container-holder-artist img{
    width:14rem;
    height:19rem;
}
.dp-container-holder-artist {
    text-align:center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.card-img-top {
    width: 24.6rem;
    height: 22.6rem;
}