html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    max-width:100%;
}

body {
    margin-bottom: auto;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    max-width:100%;
}

.topnav-right {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.topnav-left {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#navbarColor02 {

    position: center;
}

#navLink-right {
    position: absolute;
    right: 2rem;
}

#navLink-space {
    padding-left: 5rem;
}

.d-flex {
    min-width: 50rem;
}

/* Home - Index CSS */

/*  Main Div    */

.home-main {
    padding-top: 2.5rem;
    margin-left: 0;
}

.home-gallery {
    margin-bottom: 1.8rem;
}

.header-1 {
    left: 1rem;
}

.container-gallery-parent {
    display: flex;
}

.container-home-main-gallery3, .container-home-image2, .container-home-image1 {
    margin: 0.6rem;
    width: 333px;
    height: 250px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .container-home-image3 img, .container-home-image2 img, .container-home-image1 img {
        width: 327px;
        height: 245px;
    }

.container-home-main-gallery {
    margin: 0.6rem;
    width: 234px;
    height: 250px;
    border: 3px solid black;
}

.container-home-image img {
    width: 229px;
    height: 245px;
}

.home-gallery-1 {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}

.home-gallery-side-div {
    display: flex;
}

.home-gallery-left {
    width: 40.5rem;
    padding: 1.5rem;
    margin: 0rem;
}

.home-gallery-right {
    width: 40.5rem;
    padding: 1.5rem;
    margin: 0rem;
    margin-left: 100px;
}

.home-gallery-3 {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}


/*Artwork */

.container-artwork-vertical {
    display: flex;
    margin-top: 3rem;
    margin-left: -6rem;
}

.container-artwork-main-gallery {
    margin: 0.25rem;
    width: 18.8rem;
    height: auto;
}

.container-artwork img {
    width: 100%;
    margin-bottom: 60px;
}

.slider-container {
    max-width: 1000px;
    margin: 50px auto;
}

.slider-item {
    text-align: center;
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the item */
}

    .slider-item img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .tns-outer button, .tns-nav, .tns-controls{
        display: none;
    }