.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #14141b;
    padding-top: 1.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.add-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-image {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
    padding: 4px;
}

    .upload-image span {
        display: inline-block;
        padding: 6px 12px;
    }

    .upload-image:hover {
        border: 1px solid #ccc;
        display: inline-block;
        cursor: pointer;
        box-shadow: 0 0 15px 0.5px #8A8A8D;
        transition-timing-function: ease-in-out;
    }

    footer {
        display: none;
    }

#output {
    width: 50%;
    height: auto;
    max-width: 100%;
}

.add-image-guide-text {
    font-size: 16px;
    opacity: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    height: 780px;
    width: 780px;
    position: relative;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    background-color: #14141B;
    overflow: auto;
}

form {
    font-family: 'DM Sans', sans-serif;
}

.input-title {
    width: 100%;
    padding: 5px 1.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #858585;
    outline: none;
    background: transparent;
    transition-duration: 0.6s;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

    .input-title:focus {
        border-color: #e9e9e9;
        transition-timing-function: ease-in-out;
    }

.input-caption {
    width: 100%;
    padding: 5px 1.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #858585;
    outline: none;
    background: transparent;
    transition-duration: 0.6s;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

    .input-caption:focus {
        border-color: #e9e9e9;
        transition-timing-function: ease-in-out;
    }

.input-tags {
    width: 500px;
    padding: 5px 1.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #858585;
    outline: none;
    background: transparent;
    transition-duration: 0.6s;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

    .input-tags:focus {
        border-color: #e9e9e9;
        transition-timing-function: ease-in-out;
    }

    .input-tags::placeholder {
        color: white;
        opacity: 0.8;
    }

.input-container {
    position: relative;
}

.character-counter {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #888;
    font-size: 12px;
}

.ratings-form {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.upload-btn {
    width: 250px;
    height: 5%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #4F4F54;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 30.5px;
    transition-duration: .3s;
    font-family: 'DM Sans', sans-serif;
}

    .upload-btn:hover {
        width: 250px;
        height: 5%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: #E2E2E3;
        border: 0;
        color: #4F4F54;
        outline: none;
        border-radius: 30px;
        margin-top: 30.5px;
        transition-timing-function: ease-in-out;
    }

.back-btn {
    width: 250px;
    height: 5%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #4F4F54;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-duration: .3s;
    font-family: 'DM Sans', sans-serif;
}

    .back-btn:hover {
        width: 250px;
        height: 5%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: #E2E2E3;
        border: 0;
        color: #4F4F54;
        outline: none;
        border-radius: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        transition-timing-function: ease-in-out;
    }