<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Artist Page</title>
    <style>
        .artist-details {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Artist Name</h1>
            <p>Visual Artist | Painter | Sculptor</p>
        </div>
    </header>

    <section class="gallery">
        <h2>Artwork Gallery</h2>
        <div class="artwork">
            <img src="https://www.billboard.com/wp-content/uploads/2023/10/Jennie-Kim-cannes-2023-a-billboard-1548.jpg?w=942&h=623&crop=1" alt="Artwork 1">
            <img src="https://imgix.bustle.com/uploads/image/2022/2/1/f4bd08b0-c118-4109-a360-daf246ca1740-gettyimages-1344925378.jpg?w=414&h=736&fit=crop&crop=focalpoint&auto=format%2Ccompress&fp-x=0.484&fp-y=0.2638" alt="Artwork 2">
            <img src="https://cdn.i-scmp.com/sites/default/files/styles/768x768/public/d8/images/canvas/2023/06/07/3d6314a5-da52-420a-9c06-67372d1aec26_64405f2f.jpg?itok=F4AsQ890&v=1686121869" alt="Artwork 3">
            <!-- Add more images as needed -->
        </div>
    </section>

    <section class="about">
        <h2>About the Artist</h2>
        <p>"Explore the vivid world of creativity as we delve into the profound artistic journey of [Artist's Name], where each stroke of the brush and sculpted form narrates a unique story, unraveling the essence of passion and imagination."</p>
    </section>


</body>
   

    <footer>
        <p>Contact: artist@example.com | Follow on social media: jennieganda</p>
    </footer>

</html>