<div id="image-popup">
    <span onclick="closeImagePopup()" class="close-popup">&times;</span>
    <img id="popup-image" alt="Image" />
    <div id="popup-content" class="flex-container">
        <!-- Add content for the pop-up container, e.g., additional image details -->
        <div id="popup-title" class="artwork-title-container"></div>
        <div id="popup-info" class="info-container">
            <div id="popup-artist" class="artist-name-container"></div>
            <div id="popup-date" class="date-container"></div>
        </div>
    </div>
    <div id="popup-tags" class="tags-container"></div>
</div>