@model IEnumerable<Artwork>;
@using System.Security.Claims;

<div class="myprofile-container">

    <div class="username-holder">
        <h1> pumpkinpie</h1>

    </div>
    <div class="dp-container-holder">
        <img src="/testImages/F8Iar6bawAA6ivB.jpg" alt="ArtistWhoCries" />

    </div>
    <div class="form-group" id="my-profile-uploadProfile">
        <label for="profilePicture"></label>
        <input type="file" name="profilePicture" id="profilePicture" />
    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-primary" id="upload-button">Upload</button>

    </div>

    <div class="userdescription-container">
        <p>Bio</p>
        <div class="user-bio-holder">
            <div id="textContainer">
                <div class="textRow" contenteditable="true"></div>
            </div>
        </div>
    </div>

    <div class="user-art-container">
        <h1>Artworks</h1>
        @foreach (var Artwork in Model)
        {
            <div class="col">
                <div class="card">
                    <a asp-action="Post" asp-route-id="@Artwork.artId">
                    @if(Artwork.artImg !=null && Artwork.artImg.Length > 0)
                    {
                        <div>
                            <img src="data:img;base64, @Convert.ToBase64String(Artwork.artImg)" alt="Artwork Image" class="card-img-top">


                        </div>
                    } else
                    {
                        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="Artwork Image" class="card-img-top">
                    }
                    </a>
                </div>
                </div> 
        }
     
       
    </div>

</div>
