@model ForgotPassword

    <div class="container">
        <h1 class="text-center mt-5">Forget Password</h1>

        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
            </div>

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
