
<div class="myprofile-container">

    <div class="username-holder">
        <h1> pumpkinpie</h1>

    </div>
    <div class="dp-container-holder">
        <img src="/testImages/F8Iar6bawAA6ivB.jpg" alt="ArtistWhoCries" />

    </div>
    <div class="form-group" id="my-profile-uploadProfile">
        <label for="profilePicture"></label>
        <input type="file" name="profilePicture" id="profilePicture" />
    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-primary" id="upload-button">Upload</button>

    </div>

    <div class="userdescription-container">
        <p>Bio</p>
        <div class="user-bio-holder">
            <div id="textContainer">
                <div class="textRow" contenteditable="true"></div>
            </div>
        </div>
    </div>

    <div class="user-art-container">
        <h1>Artworks</h1>
        <table> 
            <tr>
                <td><img src="/testImages/Funr1SXaEAEGdvI.jpg" alt="Image 1"></td>
                <td><img src="/testImages/F1A3iKnaYAAj3a_.jpg"></td>
                <td><img src="/testImages/FypJj_sakAATxiA.jpg"></td>
            </tr> 
            <tr>
                <td><img src="/testImages/F01NdL6acAAwZR7.jpg" alt="Image 1"></td>
                <td><img src="/testImages/F0wG4wLaAAAtb8Y.jpg"></td>
                <td><img src="/testImages/F1krGu-akAES33n.jpg"></td>
            </tr>
        </table>
    </div>

</div>

